/*Start global styling*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ccbc86;
}


/*End global styling*/


/*Start navbar styiing*/


/* change navbar-brand color */

.navbar a.navbar-brand {
    color: #009933;
    <<<<<<< HEAD
}


/* change navbar-brand color on hover */

.navbar a.navbar-brand:hover {
    color: #3d5b95;
    transition: 1s;
}


/*  change navbar li colors on hover */

.navbar-nav .nav-item .nav-link:hover {
    color: #3d5b95;
    transition: 1s;
}


/* change navbar-toggler inside lines color (stroke) */

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='red' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* change navbar-toggler background color */

.navbar-toggler {
    background-color: darkgreen;
}


/*change search icon background image and color*/

.btnsearch {
    background-image: url(../images/ic_search_black_18dp_2x.png);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 35px;
    width: 34px;
    border-style: none;
}


/* change search icon background color on hover*/

.btnsearch:hover {
    background-color: lightgray;
    border-style: solid;
    border-radius: 20px;
    transition: .5s;
}


/*End navbar styiing*/


/*Start Home page styiing*/

.container {
    text-align: center;
    margin-bottom: 20px;
    height: 170px;
}

.carousel-inner {
    background-color: #ccbc86;
    margin-top: 100px;
    padding-bottom: 60px;
}

.carousel-indicators li {
    background-color: darkgreen;
    width: 80px;
    justify-content: space-between;
}

.carousel-indicators li.active {
    background-color: #cb132d;
}

#carouselExampleIndicators {
    overflow: auto;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    width: 45px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(34, 139, 34, 0.4);
    transition: 1.5s;
    width: 5%;
}

.carousel-caption h4 {
    background-color: grey;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.carousel-caption p {
    background-color: grey;
    font-size: 17px;
    font-weight: 500;
    border-radius: 20px;
    height: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


/*End Home page styiing*/


/*Start footer styiing*/

footer,
.fixed-bottom {
    height: 70px;
    text-align: center;
    font-size: 10px;
    background-color: #718c22;
    padding-top: 12px;
}

.footer-text {
    font-size: 10px;
    color: #fff;
}


/*End footer styiing*/


/**/


/**/


/*Start history page styling*/

.history {
    background-image: url(../images/phase1_images/historical.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.history-text {
    text-align: center;
    margin-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
}


/*End history page styling*/

=======
}

/* change navbar-brand color on hover */
.navbar a.navbar-brand:hover {
    color: #3d5b95;
    transition: 1s;
}

/*  change navbar li colors on hover */
.navbar-nav .nav-item .nav-link:hover {
    color: #3d5b95;
    transition: 1s;
}

/* change navbar-toggler inside lines color (stroke) */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='red' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* change navbar-toggler background color */
.navbar-toggler {
    background-color: darkgreen;
}

/*change search icon background image and color*/
.btnsearch {
    background-image: url(../images/ic_search_black_18dp_2x.png);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 35px;
    width: 34px;
    border-style: none;
}

/* change search icon background color on hover*/
.btnsearch:hover {
    background-color: lightgray;
    border-style: solid;
    border-radius: 20px;
    transition: .5s;
}

/*Start history page styling*/
.history {
    height: 100vh;
    background-image: url(../images/phase1_images/historical.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.acadia {
    width: 100%;
    margin-top: 55px;
}
.history-text {
    text-align: center;
    margin-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

/*End history page styling*/

/**/

/*Start hiking trails page css*/
.row-one {
    text-align: center;
    margin-top: 55px;
    background-color: rgba(34, 139, 34, 0.4);
}
h3,
h6,
p {
    text-align: center;
}
h6 {
    min-height: 40px;
    ;
}
img {
    display: block;
    margin: 0 auto;
}
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    min-height: 200px;
}
button.accordion.active,
button.accordion:hover {
    background-color: #ccc;
    height: auto;
}
div .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*end hiking css*/

/**/

/**/

/*Start Contact page styling*/

/*Start Contact page styling*/
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
.subscribe {
    height: 200px;
    align-items: center;
}
.form-group {
    margin-top: 250px;
    padding-left: 150px;
    padding-right: 150px;
    height: 100px;
    text-align: center;
}
.form-group,
label {
    width: 100%;
    min-width: 160px;
    display: block;
    color: darkgreen;
    font-size: 20px;
}
.form-control {
    border-radius: 20px;
    display: block;
    min-width: 150px;
    margin-bottom: 0;
    text-align: center;
}
.submit button {
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
    color: black;
    border-color: darkgreen;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 20px;
}
.submit button:hover {
    background-color: #718c22;
    border-color: lightgreen;
    transition: 1.5s;
}
.modal-content {
    margin-top: 100px;
    text-align: center;
    background-color: #8c7122;
    color: #4d1a00;
}

/*Removes box shadow from .submit button after modal content is hidden*/
.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}

/*End Contact page styiing*/

/**/

/*Media queries*/

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 700px) {
    .form-group {
        margin-top: 250px;
        padding-left: 50px;
        padding-right: 50px;
        height: 100px;
        text-align: center;
    }
    
    .btnsearch {
        margin-left: -35px;
    }
    
    .carousel-caption h4 {
        padding: 5px;
    }
    
    .carousel-caption p {
        display: none;
        font-size: 14px;
    }
}